video {
    position: static !important;
    width: 50% !important;
    height: 50% !important;
}

button {
    cursor: pointer;
    z-index: 1000;
    margin-left: 50%;
    margin-top: 5%;
    transform: translateX(-50%);
    width: 150px;
    height: 50px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 10px 20px #131313;
    transition: all .2s ease;

    &:hover {
        box-shadow: 0 5px 15px #131313;
        transition: all .2s ease;
    }
}

body {
    .mindar-ui-scanning {
        width: 90% !important;
        height: 30% !important;

        .scanning {
            width: 30%;
            height: 100%;
            position: absolute;
            top: 100%;
            left: 10%;
            /* transform: translate(-50%); */
        }
    }

    .a-enter-vr-button {
        display: none;
    }

    .a-canvas {
        position: relative !important;
        z-index: 10 !important;
    }

    #card {
        position: relative !important;
        z-index: 1000;
    }

}

@media screen and (max-width: 608px) {
    video {
        position: static !important;
        width: 100% !important;
        height: 50% !important;
    }

    body {
        .mindar-ui-scanning {
            width: 50% !important;
            height: 10% !important;

            .scanning {
                display: none;
                width: 50%;
                height: 60%;
                position: absolute;
                /* top: 50%;
                left: 50%; */
                /* transform: translate(-50%); */
            }
        }
    }
}